.header {
    height: 63px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.15);
    box-shadow: 0px 2px 4px rgba(0,0,0,.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
   
        
    .header__arrow {
        position: absolute;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #000; 
    }
   
    
}
.banner img {
    width: 100%;
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover;
}
// @media screen and (max-width: 768px){
//     .banner img {
//        height: 260px;
//     }
// }

a {
    text-decoration: none;
    color: #000;
}

section {
    padding: 50px 20px;
}

.menu {
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin-top: -50px;

    .container {
        margin: auto;
        max-width: 1440px;
    }
}
.menu__header {
    font-family: "Shrikhand",cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-size: 18px;
    color: #101010;

    h2 {
        font-family: "Shrikhand", cursive;
        font-size: 22px;
        text-decoration: none;
        color: #101010;
        margin: 0;
    }
}

.menu__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: justify;
    align-content: space-between;

    .menu__list {
        width: 100%;
        overflow: hidden;

        h3 {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            margin: 20px 0 22px 6px;
        }
        h3:after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            top: 24px;
        }   
    }  
}

.menu_lane {
    background-color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
    border-radius: 20px;
    overflow: hidden;

    .menu_text {
        height: 85px;
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 50px);
        border-radius: 15px 0 0 15px;
        transition: 1s;

        h4 {
            width: 100%;
            margin: 15px 0 0 10px;
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            margin: -12px 0 0 10px;
            font-size: 15px;
            font-weight: lighter;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .menu_rate {
        width: 50px;
        padding-top: 28px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 15px;
        transition: 1s;
    }

    .check_animation {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #99e2d0;
        font-size: 25px;
        height: 85px;
        width: 0;
        transition: 1s;

        & > i {
            transform: rotate(90deg);
            transition: 1s;
            opacity: 0;
        }
    }

    &:hover,
    &:active {
        .menu_text {
            width: calc(
                100% - 25% /* 25% check_animation width */ - 40px
                    /* menu_rate width */
            );
        }

        .menu_rate {
            width: 40px;
        }

        .check_animation {
            width: 25%;

            i {
                transform: rotate(360deg);
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1150px){
    .menu__lists {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
