.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #EAEAEA;
  font-size: 1.2rem;
  position: relative;
  box-shadow: 1px 1px 10px #c3c0c0;
}
.local .localIcon {
  margin-right: 1rem;
}
.local .localText {
  font-weight: 700;
}

.heroContainer {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.heroContainer .herotitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.heroContainer .heroBtn {
  background-color: #999;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 15.5px 22px;
  border-radius: 50px;
  transition: 3ms;
}
.heroContainer .heroBtn:hover {
  background-color: rgba(255, 121, 218, 0.9);
}

section {
  padding: 50px 20px;
}

.process .container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.process .container .processes {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
.process .container .processes .processe {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.process .container .processes .processe .processIcon {
  margin-right: 1rem;
  color: #7e7e7e;
}
.process .container .processes .processe .processNumber {
  background-color: #9356dc;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 4px 9px 4px 9px;
  border-radius: 50px;
  transform: translateX(-185%);
  margin-left: 0.6rem;
}

@media only screen and (min-width: 992px) {
  .local {
    background-color: #eaeaea;
    color: #353535;
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .local .localIcon {
    margin-right: 15px;
  }
  .local .localText {
    font-size: 16px;
    font-weight: 500;
  }
  .heroContainer {
    text-align: center;
    padding: 40px 20px 70px 20px;
    background-color: #f6f6f6;
  }
  .heroContainer .herotitle {
    font-size: 18px;
    font-weight: 300;
    padding: 12px 0 30px 0;
    margin-top: 0;
  }
  .process {
    background-color: #fff;
  }
  .process .container {
    margin: auto;
    max-width: 1440px;
  }
  .process .container .processes {
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  }
  .process .container .processes .processe {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    font-weight: 500;
    padding: 28px 35px;
    width: 100%;
    display: flex;
    margin: 0px 14px;
    transition: 0.3s;
  }
  .process .container .processes .processe .processNumber {
    background-color: #9356dc;
    color: #fff;
    font-size: 14px;
    position: absolute;
    padding: 4px 9px 4px 9px;
    border-radius: 50px;
    transform: translateX(-185%);
    margin-left: 0rem;
  }
  .process .container .processes .processe .processIcon {
    margin-right: 15px;
  }
  .process .container .processes .process__step:last-child {
    margin: 0 0 0 14px;
  }
}
@media screen and (min-width: 1140px) {
  section {
    padding: 50px 20px;
  }
  section .process {
    background-color: #fff;
  }
  section .process .container {
    margin: auto;
    max-width: 1440px;
  }
  section .process .container h2 {
    margin: 0;
  }
  section .process .container .process__steps {
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  }
  section .process .container .process__steps .process__step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    font-weight: 500;
    padding: 28px 35px;
    width: 100%;
    display: flex;
    margin: 0px 14px;
    transition: 0.3s;
  }
}
.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer .container .footerLogo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer .container .footerList {
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.footer .container .footerList .footerText {
  color: #fff;
  text-decoration: none;
}
.footer .container .footerList .footerIcon {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.footer .container .footerList .footermargin {
  margin: 0.5rem 0;
}

@media screen and (min-width: 1140px) {
  .footer {
    background-color: #353535;
    padding: 40px 20px;
  }
  .footer .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
  }
  .footer .container .footerLogo {
    color: #fff;
    font-family: Shrikhand, "cursive";
    font-size: 1.2rem;
    margin: 0 40px 0;
  }
  .footer .container .footerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .footer .container .footerList .footerText {
    color: #fff;
    text-decoration: none;
  }
  .footer .container .footerList .footerIcon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
.header {
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.banner img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

.menu {
  max-width: 920px;
  margin: -4rem auto 0 auto;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu .container {
  max-width: 635px;
  margin: auto;
  position: relative;
}

.menu__header {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-size: 18px;
  color: #101010;
}
.menu__header h2 {
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  text-decoration: none;
  color: #101010;
  margin: 0;
}

.menu__lists {
  align-content: space-between;
}
.menu__lists .menu__list {
  width: 100%;
  overflow: hidden;
}
.menu__lists .menu__list h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0 22px 6px;
}
.menu__lists .menu__list h3:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  top: 24px;
}

.menu_lane {
  background-color: white;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem #eaeaea;
  animation: appear 2s;
}
.menu_lane .menu_text {
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  border-radius: 15px 0 0 15px;
  transition: 1s;
}
.menu_lane .menu_text h4 {
  width: 100%;
  margin: 15px 0 0 10px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_lane .menu_text p {
  margin: -12px 0 0 10px;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_lane .menu_rate {
  width: 50px;
  padding-top: 28px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: 1s;
}
.menu_lane .check_animation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99e2d0;
  font-size: 25px;
  height: 85px;
  width: 0;
  transition: 1s;
}
.menu_lane .check_animation > i {
  transform: rotate(90deg);
  transition: 1s;
  opacity: 0;
}
.menu_lane:hover .menu_text, .menu_lane:active .menu_text {
  width: calc(75% - 40px);
}
.menu_lane:hover .menu_rate, .menu_lane:active .menu_rate {
  width: 40px;
}
.menu_lane:hover .check_animation, .menu_lane:active .check_animation {
  width: 20%;
  margin-left: 29px;
}
.menu_lane:hover .check_animation i, .menu_lane:active .check_animation i {
  transform: rotate(360deg);
  opacity: 1;
}

@media screen and (min-width: 1140px) {
  .menu__lists {
    flex-direction: column;
  }
  section {
    padding: 50px 80px;
  }
}
.header {
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .headerLogo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  text-decoration: none;
  color: #101010;
}

.container-point {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 1;
  animation: disappear 130ms forwards;
  animation-delay: 5s;
  transform-origin: top;
}
.container-point .point {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #9356dc;
  animation: pulse 1.8s infinite ease-in-out;
}
.container-point .point .point:last-child {
  margin-right: 0;
}
.container-point .point .point:nth-child(1) {
  animation-delay: -0.3s;
}
.container-point .point .point:nth-child(2) {
  animation-delay: -0.1s;
}
.container-point .point .point:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #9356dc;
    box-shadow: 0 0 0 0 #9356dc;
  }
  50% {
    transform: scale(1.2);
    background-color: #9356dc;
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

.menu__icon {
  font-size: 24px;
  margin-right: 33px;
}
.menu__icon .fas {
  opacity: 0;
  transition-property: all;
  transition-duration: 100ms;
}
.menu__icon .fas:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.menu__icon .btn-heart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--menu {
  margin: 45px 0 8px 0;
}

.btn {
  background-color: #999;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  color: #fff;
  text-decoration: none;
  padding: 15.5px 55px;
  border-radius: 50px;
  transition: 4ms;
}

.btn:hover {
  background-color: rgba(255, 121, 218, 0.9);
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .cards {
  display: grid;
  gap: 50px 98px;
  padding: 25px 0 0 0;
}
.restaurants .card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #000;
  position: relative;
}
.restaurants .card .cardImage img {
  width: 100%;
  height: 173px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .card .cardImage .cardBadge {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  padding: 6px 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.restaurants .card .card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 15px;
}
.restaurants .card .card__footer .card__title {
  font-size: 18px;
  margin: 0 0 5px 0;
}
.restaurants .card .card__footer .card__subtitle {
  font-size: 16px;
  font-weight: 300;
}
.restaurants .card .card__footer .card__icon {
  font-size: 24px;
}
.restaurants .card .card__footer .card__icon .fas {
  opacity: 0;
  transition-property: all;
  transition-duration: 100ms;
}
.restaurants .card .card__footer .card__icon .fas:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .card .card__footer .card__icon .btn-heart {
  position: absolute;
}

a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 1140px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 98px;
    padding: 25px 0 0 0;
  }
  .cardImage img {
    height: 258px;
  }
}/*# sourceMappingURL=style.css.map */